[project]
	description = This is firt testing my Git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/phamquangtruong
[access "refs/for/refs/*"]
	read = group user/phamquangtruong
	push = group user/phamquangtruong
	label-Code-Review = -2..+2 group user/phamquangtruong
	label-Verified = -1..+1 group user/phamquangtruong
	rebase = group user/phamquangtruong
	removeReviewer = group user/phamquangtruong
	submit = group user/phamquangtruong
[access "refs/heads/*"]
	read = group user/phamquangtruong
	create = group user/phamquangtruong
	push = +force group user/phamquangtruong
	pushMerge = group user/phamquangtruong
[access "refs/tags/*"]
	push = group user/phamquangtruong
	push = +force group user/phamquangtruong
